body{
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.none{
    display: none;
}

.card-body > img{
    height:15vh;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(0deg);
      }
      100% {
        transform: rotateX(360deg);
      }
}

#weatherLocation{
    color: rgb(231, 62, 62);
}

#weatherDescription{
    color: rgb(231, 62, 62);
}



